/*******************
/* Autor: José Rodríguez Rico UO276922
/* descripcion
/* En esta hoja se aplica el contenido relacionado con colores, fuentes
/* tamaños, márgenes de los html de la prática.
/* Toda la web sigue el formato de esta hoja de estilo
/*******************
*/

/*especificidad {0,0,1}*/
body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    
}

/*especificidad {0,0,1}*/
form{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        'area area area area'
        'pantalla pantalla pantalla pantalla'
        'label label label label'
        'boton1 boton2 boton3 boton4'
        'boton5 boton6 boton7 boton8'
        'boton9 boton10 boton11 boton12'
        'boton13 boton14 boton15 boton16'
        'boton17 boton18 boton19 boton20'
        '. . boton21 boton21'
    ;
    height: 22em;
    width: 20em;
    background-color: rgb(52, 49, 49);
    color: black;
    margin:auto;
    padding: 2em;
    border-radius: 2em;
} 

/*especificidad {0,0,1}*/
h1{
    background-color: white;
    color: black;
}
/*especificidad {0,0,1}*/
textarea{
    grid-area: area;
    height: 8.3em;
    width: 20em;
    background-color: white;
    color: black;
    font-size:1.3em;
    text-align: right;
}

/*especificidad {0,1,1}*/
input[type="text"]{
    grid-area: pantalla;
    background-color: white;
    color: black;
    text-align: right;
    margin: 1em;
    font-size:1em;
}

/*especificidad {0,1,1}*/
input[type="button"]{
    background-color: white;
    color: black;
    margin:0.2em;
    height: 1.7em;
    font-weight: bold;
    
}

/*especificidad {0,1,1}*//*especificidad {0,1,1}*//*especificidad {0,1,1}*/
input[value="Shift"]{
    grid-area: boton1;
    color: black;
    background-color: rgb(244, 109, 109);
}
/*especificidad {0,1,1}*//*especificidad {0,1,1}*/
input[value="sin"],input[value="asin"]{
    grid-area: boton2;
    color: black;
    background-color: rgb(244, 109, 109);
}
/*especificidad {0,1,1}*//*especificidad {0,1,1}*/
input[value="cos"],input[value="acos"]{
    grid-area: boton3;
    color: black;
    background-color: rgb(244, 109, 109);
}
/*especificidad {0,1,1}*//*especificidad {0,1,1}*/
input[value="tan"],input[value="atan"]{
    grid-area: boton4;
    color: black;
    background-color: rgb(244, 109, 109);
}
/*especificidad {0,1,1}*/
input[value="7"]{
    grid-area: boton5;
}
/*especificidad {0,1,1}*/
input[value="8"]{
    grid-area: boton6;
}
/*especificidad {0,1,1}*/
input[value="9"]{
    grid-area: boton7;
}
/*especificidad {0,1,1}*/
input[value="/"]{
    grid-area: boton8;
}
/*especificidad {0,1,1}*/
input[value="4"]{
    grid-area: boton9;
}
/*especificidad {0,1,1}*/
input[value="5"]{
    grid-area: boton10;
}
/*especificidad {0,1,1}*/
input[value="6"]{
    grid-area: boton11;
}
/*especificidad {0,1,1}*/
input[value="*"]{
    grid-area: boton12;
}

/*especificidad {0,1,1}*/
input[value="1"]{
    grid-area: boton13;
}
/*especificidad {0,1,1}*/
input[value="2"]{
    grid-area: boton14;
}
/*especificidad {0,1,1}*/
input[value="3"]{
    grid-area: boton15;
}
/*especificidad {0,1,1}*/
input[value="+"]{
    grid-area: boton16;
}
/*especificidad {0,1,1}*/
input[value="0"]{
    grid-area: boton17;
}
/*especificidad {0,1,1}*/
input[value="."]{
    grid-area: boton18;
}
/*especificidad {0,1,1}*/
input[value="CE"]{
    grid-area: boton19;
}
/*especificidad {0,1,1}*/
input[value="-"]{
    grid-area: boton20;
}
/*especificidad {0,1,1}*/
input[value="Enter"]{
    grid-area: boton21;
    background-color: rgb(230, 240, 146);
    color: black;
}

/*especificidad {0,1,1}*/
input[type="submit"]{
    display:none;
}













