/*******************
/* Autor: José Rodríguez Rico UO276922
/* descripcion
/* En esta hoja se aplica el contenido relacionado con colores, fuentes
/* tamaños, márgenes de los html de la prática.
/* Toda la web sigue el formato de esta hoja de estilo
/*******************
*/

body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color:black;
}

form{
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        'pantalla pantalla pantalla pantalla pantalla'
        'botonC botonCE botonMM botonRaiz botonPor'
        'boton7 boton8 boton9 botonX botonDiv'
        'boton4 boton5 boton6 botonMenos botonMRC'
        'boton1 boton2 boton3 botonMas botonMMenos'
        'boton0 botonPunto botonIgual botonMas botonMMas'
    ;
    height: 20em;
    width: 18em;
    background-color: rgb(6, 122, 0);
    color: black;
    padding: 2em;
    border-radius: 25px;
    margin:auto;
} 

h1{
    text-align: center;
    background-color: white;
    color: black;
}
label{
    opacity: 0;
}


input[id="pantalla"]{
    grid-area: pantalla;
    width: 20em;
    height: 5em;
}

input[type="button"]{
    border-radius: 5px;
    background-color: white;
    color: black;
    margin:0.2em;
    height: 3em;
    font-weight: bold;
    
}
input[value="C"]{
    grid-area: botonC;
    background-color: yellow;
    color: black;
}
input[value="CE"]{
    grid-area: botonCE;
    background-color: yellow;
    color: black;
}
input[value="+/-"]{
    grid-area: botonMM;
    background-color: yellow;
    color: black;
}
input[value="√"]{
    grid-area: botonRaiz;
    background-color: yellow;
    color: black;
}
input[value="%"]{
    grid-area: botonPor;
    background-color: yellow;
    color: black;
}
input[value="7"]{
    grid-area: boton7;
}
input[value="8"]{
    grid-area: boton8;
}
input[value="9"]{
    grid-area: boton9;
}
input[value="X"]{
    grid-area: botonX;
    background-color: orange;
    color: white;
}
input[value="/"]{
    grid-area: botonDiv;
    background-color: orange;
    color: white;
}
input[value="4"]{
    grid-area: boton4;
}
input[value="5"]{
    grid-area: boton5;
}
input[value="6"]{
    grid-area: boton6;
}
input[value="-"]{
    grid-area: botonMenos;
    background-color: orange;
    color: white;
}

input[value="Mrc"]{
    grid-area: botonMRC;
    background-color: orange;
    color: white;
}
input[value="1"]{
    grid-area: boton1;
}
input[value="2"]{
    grid-area: boton2;
}
input[value="3"]{
    grid-area: boton3;
}
input[value="+"]{
    grid-area: botonMas;
    height: 6.7em;
    background-color: orange;
    color: white;
}

input[value="M-"]{
    grid-area: botonMMenos;
    background-color: orange;
    color: white;
}
input[value="0"]{
    grid-area: boton0;
}
input[value="."]{
    grid-area: botonPunto;
}
input[value="="]{
    grid-area: botonIgual;
    background-color: red;
    color: white;
}
input[value="M+"]{
    grid-area: botonMMas;
    background-color: orange;
    color: white;
}










