/*******************
/* Autor: José Rodríguez Rico UO276922
/* Descripcion:
/* En esta hoja se aplica el contenido relacionado con colores, fuentes
/* tamaños, márgenes de los html de la prática.
/* Toda la web sigue el formato de esta hoja de estilo
/*******************
*/

/*especificidad {0,0,1}*/
body{
    background-color: #faf1c7;
    padding: 0.625em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
} 
/*especificidad {0,0,1}*/
main{
    width:auto; 
    height:50em; 
}
/*especificidad {0,0,1}*/
h1{
    background-color: #fae6c7;
    font-size: 1.875em;
    text-align: center;
    padding:0.5em;
    border-style: dashed;
    color: #000000;
    margin:0.625em;
}
/*especificidad {0,0,1}*/
h2{
    background-color: #faf1c7;;
    color: #000000;
    
}
/*especificidad {0,0,1}*/
h3{
    background-color: #faf1c7;
    color: #000000;
    
}

/*especificidad {0,0,1}*/
h4{
    background-color: #faf1c7;
    color: #000000;
    
}

/*especificidad {0,0,1}*/
p{
    color: #000000;
    font-size: 1.25em;
    background-color: #faf1c7;
}

/*especificidad {0,0,1}*/
img{
    padding:2.5em;
}

/*especificidad {0,0,1}*/
ul{
    color: #000000;
    background-color: #faf1c7;
    font-family: Arial, Helvetica, sans-serif;
    margin:0.625em;

}

/*especificidad {0,0,1}*/
li{
    color: #000000;
    background-color: #faf1c7;
    font-family: Arial, Helvetica, sans-serif;


}


/*especificidad {0,0,1}*/
table{
    color: #000000;
    font-size: 1.25em;
    background-color: #faf1c7;
    border-style: dotted;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5em;
    
}

/*especificidad {0,0,1}*/
caption{
    color: #000000;
    font-size: 1.375em;
    background-color: #fae6c7;
}

/*especificidad {0,0,1}*/
tr{
    background-color: #fcead0;
    text-align: center;
    color: #000000;

}

/*especificidad {0,0,1}*/
td{
    background-color: #fcead0;
    text-align: center;
    color: #000000;
}


