/*Especificidad: 001*/
body {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #818181;
  background-color: #FFFAF0;
  }
/*Especificidad: 001*/
h1 {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  font-size: 3em;
  color: #A0522D;   
  background-color:#FFFAF0; 
  text-transform: uppercase;  
  }

  /*Especificidad: 001*/
h2 {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;    
  background-color:#FFE4C4; 
  text-transform: uppercase;
 }

 /*Especificidad: 001*/
 h3 {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;    
  background-color:#FFEFD5; 

 }

 /*Especificidad: 001*/
 h4 {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;    
  background-color:#FFFAF0; 

 }

 /*Especificidad: 001*/
 nav{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
   margin : 1.563em 3.125em 2.5em 1.563em;
   font-size: 1.25em;
 }
 /*Especificidad: 001*/
 main,section,aside,article,footer{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;    
  background-color:#FFFAF0; 
 }

 

 /*Especificidad: 011*/
 a:link{
  color: black;
  background-color:#FFFAF0; 
  
}

/*Especificidad: 011*/
a:visited{
  color: blue;
  background-color:#FFFAF0; 
}
 
/*Especificidad: 001*/
 p {
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color:#FFFAF0; 
  font-size: 1.125em;
  text-align: start;  
  margin: 1.5%;
 }

 
/*Especificidad: 001*/
 table{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 1.25em;
 }

 /*Especificidad: 001*/
 caption{
  font-family:"Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 1.875em;
  padding: 1.563em;
  margin : 1.25em 0em 0em 0em;
 }

 /*Especificidad: 001*/
 tr,td,th{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color:#FFE4C4; 

 }

 /*Especificidad: 001*/
 ul{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color:#FFFAF0;   
 }

 /*Especificidad: 001*/
 li{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color:#FFFAF0; 
 }

 /*Especificidad: 001*/
 img,video,audio{
    border:solid;
 }

 /*Especificidad: 001*/
 form{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 1.25em;
 }
 
 /*Especificidad: 001*/
 fieldset{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFE4C4;
 }

 /*Especificidad: 001*/
 legend{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFFAF0;
  border: 0.063em solid;
  padding-top: 0.313em;
  padding-bottom: 0.313em;

 }

 /*Especificidad: 001*/
 input{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFFAF0;
  margin-bottom: 1.25em;
  padding: 0.125em;
 }

 /*Especificidad: 001*/
 label{
  font-family: "Andale Mono", Georgia, 'Times New Roman',monospace;
  color: #000;
  background-color: #FFE4C4;

 }



 

 

 


