/*******************
/* Autor: José Rodríguez Rico UO276922
/* descripcion
/*******************
*/


body{
    background-color: #faf1c7;
    padding: 0.625em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
} 

header{
    background-color: #fae6c7;
    font-size: 1.875em;
    text-align: center;
    padding:0.0125em;
    border-style: dashed;
    color: #000000;
}


nav {
    background-color: #faf1c7;
    padding: 0.625em;
    text-align: right;
    font-size: 1.275em;
    margin-right: 0.625em;
    color: #000000;
}


footer{
    
}


h2{
    background-color: #fae6c7;
    font-size: 1.875em;
    text-align: center;
    padding:0.5em;
    border-style: dashed;
    color: #000000;
    border-left-width: 2.5em;
    border-right-width: 2.5em;
    
}

p{
    color: #000000;
    font-size: 1.25em;
    background-color: #faf1c7;
    font-style: oblique;
}
img{
    display: block;
    margin: auto;
}
video{
    display: block;
    margin: auto;
}
audio{
    display: block;
    margin: auto;
}

ul{
    color: #000000;
    background-color: #fae6c7;
    font-family: Arial, Helvetica, sans-serif;

}

li{
    color: #000000;
    background-color: #fae6c7;
    font-family: Arial, Helvetica, sans-serif;


}

table{
    color: #000000;
    font-size: 1.25em;
    background-color: #faf1c7;
    font-style: oblique;
    border-style: dotted;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5em;
}

caption{
    color: #000000;
    font-size: 1.375em;
    background-color: #fae6c7;
    font-style: oblique;
    font-weight: inherit;
}

tr{
    background-color: #fcead0;
    text-align: center;
    color: #000000;

}

td{
    background-color: #fcead0;
    text-align: center;
    color: #000000;
}

form{
    color: #000000;
    font-size: 1.25em;
    background-color: #fae6c7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5em;
}

fieldset{
    color: #000000;
    background-color: #faf1c7;
    font-family: Arial, Helvetica, sans-serif;
}

legend{
    color: #000000;
    background-color: #faf1c7;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

