/*Especificidad: 001*/
body {
  font-family: "Andale Mono", monospace;
  color: #818181;
  background-color: #FFFAF0;
  }
/*Especificidad: 001*/
h1 {
  font-family: "Andale Mono", monospace;
  font-size: 3em;
  color: #FF5733;   
  background-color:#FFFAF0; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;  
  margin: 100px 100px 50px 25px;
  border-style: solid;
  border-width: 5px;   
  }

h2 {
  font-family: "Andale Mono", monospace;
  color: #000;    
  background-color:#FFE4C4; 
  background-size: 50% 50%;
  text-transform: uppercase;
  padding: 2em;
  text-align: left;     
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  margin : 25px 800px 40px 0px;
 }

 a:link{
  color: #FF5733;
  background-color:#FFFAF0; 
}

a:visited{
  color: blue;
  background-color:#FFFAF0; 
}
 
 p {
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFFAF0; 
  text-align: start;  
  line-height: 1.5; 
  margin: 1.5%;
 }

 nav{
   margin : 25px 50px 40px 25px;
 }

 caption{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 30px;
  padding: 25px;
  margin : 20px 0px 0px 0px;
 }
 tr,td,th{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFE4C4; 
  padding: 5px 5px 5px 5px;
  margin : 20px 5px 20px 5px;
 }

 

 ul,li{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFE4C4; 
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 110px;

 }
 img,video,audio{
    display: block;
    margin: auto;
 }
 



 

 

 


