/*Especificidad: 001*/
body {
  font-family: "Andale Mono", monospace;
  color: #818181;
  background-color: #FFFAF0;
  }
/*Especificidad: 001*/
h1 {
  font-family: "Andale Mono", monospace;
  font-size: 3em;
  color: #A0522D;   
  background-color:#FFFAF0; 
  text-transform: uppercase;
  text-align: center;  
  border-style: solid; 
  }

h2 {
  font-family: "Andale Mono", monospace;
  color: #000;    
  background-color:#FFE4C4; 
  text-transform: uppercase;
  text-align: center;     
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
 }

 h3 {
  font-family: "Andale Mono", monospace;
  color: #000;    
  background-color:#FFEFD5; 
  text-transform: uppercase;
  text-align: center;

 }

 nav{
  font-family: "Andale Mono", monospace;
   margin : 25px 50px 40px 25px;
   font-size: 20PX;
 }

 a:link{
  color: #FF5733;
  background-color:#FFFAF0; 
  
}

a:visited{
  color: brown;
  background-color:#FFFAF0; 
}
 
 p {
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFFAF0; 
  font-size: 17px;
  text-align: start;  
  line-height: 1.5; 
  margin: 1.5%;
 }

 

 table{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 20px;
 }

 caption{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 30px;
  padding: 25px;
  margin : 20px 0px 0px 0px;
 }
 tr,td,th{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFE4C4; 

 }

 ul{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFE4C4; 
  font-size: 20px;
 }

 li{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color:#FFE4C4; 
 }

 img,video,audio{
    display: block;
    margin: auto;
    border:solid;
 }

 form{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  font-size: 20px;
 }
 
 
 fieldset{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFE4C4;
 }

 legend{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;

 }

 input{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFFAF0;
  margin-bottom: 20px;
  padding: 2px;
 }

 label{
  font-family: "Andale Mono", monospace;
  color: #000;
  background-color: #FFE4C4;

 }



 

 

 


