/*Especificidad: 001*/
body {
  font-family: "Andale Mono", monospace;
  color: #818181;
  background-color: #FFFAF0;
  }
/*Especificidad: 001*/
h1 {
  font-size: 3em;
  color: #FF5733;   
  background-color:#FFFAF0; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }

h2 {
  color: #fff;    
  background-color:#FF5733; 
  background-size: 50% 50%;
  text-transform: uppercase;
  padding: 2em;
  text-align: left;     
 }
 
 p {
  color: #000;
  background-color:#FFFAF0; 
  text-align: left;   
 }

 img{
  display:block;
  margin:auto; 

 }

 nav {
  color: #fff;    
  background-color:#FF5733;
  padding: 2em;
 }

 


