
 /*Especificidad: 001*/
body {
    display: grid;
    grid-template-areas: 
                         'head'
                         'main '
                         'foot ';
}


 /*Especificidad: 001*/
header {
    grid-area: head;
    
}


 /*Especificidad: 001*/
main {
    grid-area: main;
    text-align: justify;
}


 /*Especificidad: 001*/
footer {
    grid-area: foot;
}