body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'section multi' 
                         'section multi'
                         'foot foot';

    grid-template-columns: 1fr 600px;
}

header {
    grid-area: head;

}

section {
    grid-area: section;
    text-align: justify;
    margin-right: 10px;
}

article {
    grid-area: multi;
}

footer {
    grid-area: foot;
}