/*Especificidad: 001*/
body {
  font-family: "Andale Mono", monospace;
  color: #818181;
  background-color: #FFFAF0;
  }
/*Especificidad: 001*/
h1 {
  font-size: 3em;
  color: #FF5733;   
  background-color:#FFFAF0; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;  
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  border-style: solid;
  border-width: 5px;   
  }

h2 {
  color: #fff;    
  background-color:#FF5733; 
  background-size: 50% 50%;
  text-transform: uppercase;
  padding: 2em;
  text-align: left;     
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  margin : 25px 800px 75px 0px;
 }
 
 p {
  color: #000;
  background-color:#FFFAF0; 
  text-align: left;   
 }

 

 

 


