
 /*Especificidad: 001*/
body {
    display: grid;
    grid-template-areas: 
                         'head head' 
                         'sec multi' 
                         'sec multi'
                         'foot foot';
    grid-template-columns: 1fr 37.5em;
}


 /*Especificidad: 001*/
header {
    grid-area: head;
}


 /*Especificidad: 001*/
section {
    grid-area: sec;
    text-align: justify;
    margin-right: 0.625em;
}


 /*Especificidad: 001*/
aside {
    grid-area: multi;
}


 /*Especificidad: 001*/
footer {
    grid-area: foot;
}