/*******************
/* Autor: José Rodríguez Rico UO276922
/* Descripcion
/* Hoja que aplica el formato grid layaout a los
/* documentos de la web. Este está formado por 4 columnas y 5 filas.
/*******************
*/

/*especificidad {0,0,1}*/
body{
    display: grid;
    grid-template-areas:
        'header header header header'
        'nav nav nav nav'
        'section section section section'
        'article article article article'
        'footer footer footer footer'
    ;
} 

/*especificidad {0,0,1}*/
header{
    grid-area: header;
}

/*especificidad {0,0,1}*/
nav {
    grid-area: nav;
}

/*especificidad {0,0,1}*/
section{
    grid-area: section;
}

/*especificidad {0,0,1}*/
article{
    grid-area: article;
}

/*especificidad {0,0,1}*/
footer{
    grid-area: footer;
}

