/*******************
/* Autor: José Rodríguez Rico UO276922
/* descripcion
/*******************/

header{
    background-color: rgb(52, 209, 78);
}

section{
    background-color: rgb(187, 151, 52);
}

aside{
    background-color: rgb(216, 64, 183);
}

footer{
    background-color: rgb(55, 152, 221);
}



