/*******************
/* Autor: José Rodríguez Rico UO276922
/* descripcion
/*******************/

header{
    background-color: rgb(52, 209, 78);
}

section{
    background-color: rgb(187, 151, 52);
    
}

nav {
    background-color: rgb(41, 190, 141);
    margin: 2em;
    border-style: dashed;
    padding: 2em;
}
aside{
    background-color: rgb(216, 64, 183);
}

footer{
    background-color: rgb(55, 152, 221);
}



